{% extends "campus.html" %}
{% block mydemo %}
<style>
.header{
        background:white !important;
}

.navbar
{
        background:black;
        height:74px;
}
</style>
{% endblock %}
{% load staticfiles %}
{% block myd %}
<div class='container-fluid'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 400">{{jobdescription.position}}
                        <span class='float-right pt-2' style="font-family:'Noto Serif',serif;color:grey;font-size: 15px">{{jobdescription.name.user.first_name}}</span>
                        </h4>
                        <p style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Date Posted:{{jobdescription.date}}
                        <span  class='float-right' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px;font-weight: 600">Yontus</span>
                    </p> <hr>
               <div class='row' style='height:35px'>
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2 '>
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Number of Vacancies: <span  style='color:black'>0</span></p>
                        <hr>
                    </div>
                   </div>
                   
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2' >
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Salary Range: <span  style='color:black'>{{jobdescription.salary}}</span></p>
                       <hr>
                    </div>
                   </div>
               </div>
               <div class='row pt-2' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Category: <span  style='color:black'>IT & Telecommunication</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Job Location: <span  style='color:black'>{{jobdescription.city}}</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-3' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Working Hours<span  style='color:black'>0</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Years of Experience: <span  style='color:black'>{{jobdescription.experience}}</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-4' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Preferred Age: <span  style='color:black'>21(years)</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Vacancy Nature: <span  style='color:black'>Full Time</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <h5 class='pt-5' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:16px;">Job Details</h5>
            <p style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                {{jobdescription.description}}
            </p>
        <h5 style="color:#5caf01;font-family:'Noto Serif',serif;font-size:17px">Skills Required:</h5>   
        <p><ol style='color:#5caf01'>
            {% for i in rqs %}
            <li><span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">{{i}}</span>
            {% endfor %}
                
                  </ol>
            <hr>
                <p class='pl-4 pt-3' style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Job deadline: 2019-06-30</p>
              

                <div class='col-md-4 '>
                    <button class='btn  btn-block btn-control mt-2'   data-toggle='modal' data-target='#mymodal' style='background:#5caf01;color:#fff;border-radius: 10px'>
                        Apply For Vacancy</button> 
                        <form method='POST'>
                            {% csrf_token %}
                        <div class='modal fade' id="mymodal">
                                <div class='modal-dialog modal-lg'>
                                    <!--modal content-->
                                    <div class='modal-content'>
                                        <div class='modal-header'  style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
                                              
                                                      <p class='modal-title'  style="color:white;font-family: 'poppins',sans-serif;font-weight: 600;font-size:50px;">
                                                              Start Quiz
                                                          </p>
                                            
                                           <span class='close text-danger' data-dismiss='modal'>X</span>
                                                
                                        </div>
                                    <div class='modal-body' style="color:#5caf01">
                                        {% for i in que %}
                                        <h6>{{i.id}} .{{i.question}}</h6>
                                        <section style="color:grey">
                                        <input  class='q{{i.id}}' type='radio' value='a' name='q{{i.id}}' checked >{{i.option1}}</br>
                                        <input  class='q{{i.id}}' type='radio'  value='b' name='q{{i.id}}'>{{i.option2}}</br>
                                        <input class='q{{i.id}}' type='radio' value='c' name='q{{i.id}}'>{{i.option3}}</br>
                                        <input  class='q{{i.id}}' type='radio' value='d' name='q{{i.id}}'>{{i.option4}}</br>
                                        <input type='hidden' value='{{i.answer}}'  name='a{{i.id}}' hidden></br>
                                        </section>
                                        {% endfor %}
                                        <input type="submit" class='btn btn-control' style='color:white;background: #5caf01' value='Submit Quiz'>
                   
                             </div>                        
           </div>
        </div>
    </div>
    </form>
</div>

               
                  
              </div>
                <div class='col-md-4 mt-5'>
                      <img src="/media/{{jobdescription.profile_pic}}" width='400px' height='250px'>
                  </div>
          </div>
      </div>
     </div>
  </div>  
{% endblock %}