{% extends "dashcomp.html" %}
{% load staticfiles %}
{% block myblock %}
<style>
.ban{
        background:url("{% static 'images/lapi.jpg' %}");
        background-attachment: fixed;
    }
    a:link, a:hover{
        background: none !important;
        text-decoration: none !important;
    }
</style>
{% endblock %}

{% block mybl %}
    <section  class='mt-3 ban'>
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Applicants</h1>
         </section>
         <div class='container'>
            <div class='row pt-5'>
                <div class='col-md-12'>
     <div class='row'>
         {% for i in all %}
         <div class='col-md-4 mb-3' >

       <div style='border:1px solid #ccc;background:#F5F5F5'>
    <img src="/media/{{i.Student.profile_pic}}" width='100%' height='150'>    
    <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name:{{i.Student.user.username}}</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title:{{i.Job.position}} </p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:{{i.Apply_on}}</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;;font-family: 'Noto Serif', serif;font-size: 14px">Qualfications:{{i.Qualification}}</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;;font-family: 'Noto Serif', serif;font-size: 14px">Experience:{{i.Experience}}</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;;font-family: 'Noto Serif', serif;font-size: 14px">Download Resume:<a style="text-decoration:none;" href='/media/{{i.Resume}}'><i class='fa fa-download' style='color:#5caf01;font-size:20px'></i></a>
   <a href="{% url 'sndm' %}" ><input type='submit' value='Response' class='btn btn-control' style='background: #5caf01;color:#fff' name='respo' ></a>
</div>
 </div>
         {% endfor %}
     </div>
         <!--<div class='col-md-4' >
                 <div style='border:1px solid #ccc;background:#F5F5F5'>
                    <img src="{% static 'images/stu8.jpg' %}" width='100%' height='200px'>  
                    <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name: Varun Sood</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title: Database Administrator </p> 
    <p class='text-center'  style="color:darkslategray;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:07 May,2019</p> 
          
                 </div>
                  </div>
                  <div class='col-md-4' >
                    <div style='border:1px solid #ccc;background:#F5F5F5'>
                        <img src="{% static 'images/stu1.jpeg' %}" width='100%' height='200px'> 
                        <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name: Vanya Thakur</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title: Python Developer </p> 
    <p class='text-center'  style="color:darkslategray;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:12 March,2019</p> 
           
                    </div>
                     </div>
     
     </div>
     </div>
     </div>
     <div class='row pt-5'>
             <div class='col-md-12'>
     <div class='row'>
             <div class='col-md-4'>
                     <div style='border:1px solid #ccc;background: #F5F5F5'>
                        <img src="{% static 'images/stu11.jpg' %}" width='100%' height='200px'>   
                        <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name: Poonam Grover</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title: Web Designer </p> 
    <p class='text-center'  style="color:darkslategray;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:02 April,2019</p> 
     
                           </div>
                           </div>
      <div class='col-md-4'>
     <div style='border:1px solid #ccc;background: #F5F5F5'>
        <img src="{% static 'images/stu6.jpg' %}" width='100%' height='200px'>   
        <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name: Abhishek Mahajan</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title: React Native Developer </p> 
    <p class='text-center'  style="color:darkslategray;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:21 March,2019</p> 
     
              </div>
          </div>
          <div class='col-md-4'>
            <div style='border:1px solid #ccc;background: #F5F5F5'>
                <img src="{% static 'images/per1.jpg' %}" width='100%' height='200px'> 
                <p class='text-center pt-2'  style="color:darkslategray;font-family: 'Noto Serif', serif;font-size: 14px;font-weight: 600">Name: Shilpa Arora</p> 
    <p class='text-center'  style="color:darkslategray;line-height: 1px;font-family: 'Noto Serif', serif;font-size: 14px">Job Title: Php Developer </p> 
    <p class='text-center'  style="color:darkslategray;;font-family: 'Noto Serif', serif;font-size: 14px">Applied Date:17 May,2019</p> 
       
                     </div>
                 </div>
          </div>
     
     </div>
     </div>
     
     </div>-->

{% endblock %}