{% extends "dashstu.html" %}
{% block mydemo %}
{% load staticfiles %}
<style>
    .banner{
        background:url("{% static 'images/lapi.jpg' %}");
    }
    </style>
{% endblock %}
{% block dem %}
    <section  class='mt-3 banner' style='background-attachment: fixed;'> 
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Change Password</h1>
         </section>
         <div class='container-fluid'>
             <div class='row'>
                 <div class='col-md-3'>
                     <div class='pl-2 pr-2 pt-5' >
                        
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='bs'  style='color:grey'>Basic Information</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='ed' style='color:grey'>Education and Work</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a style='color:grey'>My Interest</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey'>Account Settings</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey;' id='ch'>Change Password</a></p>
                <hr>    
                </div>
                 </div>
                 {% if status %}
            <script>
            alert('{{status}}');
            </script>
           
                {% endif %}
                 <div class='col-md-6 pt-3' >
                    <div class='pl-2 pr-2 pt-4' >
                        <form method="POST">
                            {% csrf_token %}
                        <span>
<i class='fa fa-lock' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Change Password</span>
               
                        </span>
                    <hr>  
                    
                
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Old Password</p>
<input type='password' placeholder="Old Password" class='form-control' name='old' onkeyup="check()">
                <div class='row pt-3'>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">New Password</p>
<input type='password' class='form-control' placeholder="New Password" name='newp' id='p' onkeyup="check()">
                    </div>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Confirm Password</p>
   <input type='password' class='form-control' placeholder="Confirm Password" name='conp' id='cp' onkeyup="check()">
                    </div>
                </div>
                <p class='pt-3'><a href=''style="color:#5caf01" >Forgot Password?</a></p>
                <input class='btn btn-block' type='submit' id='change'  style='background: #5caf01;color:#fff;border-radius:10px'  disabled>
   
            </form>    
            </div>
        
                </div>
            </div>
         </div>  
         
<div class='container-fluid pt-2 px-0'>
    <div class='row' style='background: #222a35'>
            <div class='col-md-4 pt-5'>
                    <div class='pb-2 '>
                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                                Project</h6>
<p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
</p>
                    </div>
                </div>
                <div class='col-md-3 pt-5 mx-auto'>
                        <div class='pb-2' >
                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                     <p class='pt-4'> <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span></span></p>
                     <p > <span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span></span></p>
                     <p > <span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></p>
                     <p > <span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></p>
                     <p > <span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></p>
                     <p > <span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></p>
                               
                    </div>
                    </div>
                    <div class='col-md-4 pt-5'>
                            <div class='pb-2' >
                                    <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                       <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                        </span> </p>     
                       <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                       <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                       <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                       </div>
                    </div>
        
    
                <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                    <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
                </div>
               
    </div>
    </div>
   
    <script>
            function check(){
                pw  = $('#p').val();
                cpw  = $('#cp').val();
                if(pw==cpw){
                    $('#p').css('border','1px solid green');
                    $('#cp').css('border','1px solid green');
                    $('#change').removeAttr('disabled');
                }else{
                    $('#p').css('border','1px solid red');
                    $('#cp').css('border','1px solid red');
                    $('#change').attr('disabled','disabled');
                }
            }

</script>
{% endblock %}
