{% extends "campus.html" %}
{% block mydemo %}
<style>
  .demo:hover{
        background: #5caf01;
    }
.header{
        background:white !important;
}
.navbar
{
        background:black;
        height:74px;
}
.demo
{
    height:40px;
    width:40px;
    text-align: center;
}
.xyz
{
    width:400px;
    height:400px;
}
</style>
{% endblock %}
{% load staticfiles %}

{% block myd %}
{% if status %}
<script>
alert('{{status}}');
</script>
{% endif %}
 <section class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
<h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Contact us</h1>
 </section>           
        <div class='container'>
        <div class='row pt-4'>
            <div class='col-md-8' >
<h1 style="font-family:'poppins',sans-serif;font-weight:600;color:#222a35;font-size:35px">Get in Touch</h1>
<p class='pt-5' style='color:grey;font-size:16px'>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally. We would be happy to answer your questions.</p>
<form method="post">
    {% csrf_token %}
<div class='form-group'>
    <div class='row'>
            <div class='col-md-6'>
                    <label for=" " style='color:#5caf01;font-size:14px'>FirstName</label>
                    <input type='text' class='form-control' style='height:45px' name="first" required>
                </div>
                <div class='col-md-6'>
                        <label for=" " style='color:#5caf01;font-size:14px'>LastName</label>
                        <input type='text' class='form-control' style='height:45px' name="last">
                    </div>
                    <div class='col-md-6 pt-3'>
                            <label for=" " style='color:#5caf01;font-size:14px'>E-mail</label>
                            <input type='text' class='form-control' style='height:45px' name="emai">
                        </div>
                        <div class='col-md-6 pt-3'>
                                <label for=" " style='color:#5caf01;font-size:14px'>Phone</label>
                                <input type='number' class='form-control' style='height:45px' name="phone">
                            </div>

            <div class='col-md-12 pt-3'>
            <label for=" " style='color:#5caf01;font-size:14px'>Message</label> 
              <textarea class='form-control' rows='8' name="msg" required></textarea> 
                </div>
   </div>
<button class='btn  text-light btn-control mt-4' style='background:#5caf01;;font-weight:400;font-size: 20px;'>Send Message</button>
    

    
</div>
</form>
</div>
            <div class='col-md-4 pt-3 pl-5'>
<p style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Socials</p>
<hr>
<div class='row' >
        <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
               <a href='http://www.facebook.com'><i class='fa fa-facebook pt-2' style="color:#888;font-size:19px"></i></a>
        </div>
        <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
            <a href='http://www.twitter.com'>
         <i class='fa fa-twitter pt-2' style="color:#888;font-size:19px"></i>
         </a>
         </div>
         
         <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
            <a href='http://www.instagram.com'>
         <i class='fa fa-instagram pt-2' style="color:#888;font-size:19px"></i>
         </a>
         </div>
         <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
            <a href='http://www.google.com'>
         <i class='fa fa-google pt-2' style="color:#888;font-size:19px"></i>
         </a>
         </div>
</div>
        <p  class='pt-2' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Phones</p>
<hr>
<p><span><i class="fa fa-phone" style="color:#5caf01;font-size:18px" ></i></span>
    <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> +91-23814327862</span> </p> 
    <p><span><i class="fa fa-phone" style="color:#5caf01;font-size:18px" ></i></span>
 <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> +91-3214695862</span> </p>     
 <p  class='pt-2' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">E-mail</p>
 <hr>
 <p><span><i class="fa fa-envelope" style="color:#5caf01;font-size:18px" ></i></span>
  <a href='' style='text-decoration-color:#fff'> <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px">sachtech14@gmail.com</span> </p>     
  </a>                   
  <p  class='pt-2' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Address</p>
  <hr>
  <p class='pt-2'><span><i class="fa fa-map-marker" style="color:#5caf01;font-size:18px" ></i></span>
    <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
    </span> </p>  
    <p  class='pt-2' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Opening Hours</p>
  <hr>
  <p><span><i class="fa fa-calendar-times-o" style="color:#5caf01;font-size:18px" ></i></span>
    <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> Mon-Fri: 8:00am-8:00pm
<br>
            Sat: 8:00am-3:00pm
            <br>
            Sun: Closed</span> </p> 
            </div>
</div>
    
    </div>
       <p class='pt-5'>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195236273!2d76.69247711461037!3d30.716822693451377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1553597703959" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
   </p>
   <div class='container'>
   <div class='row' style='background: #fff'>
    <div class='col-md-4'>
<div class='pl-2 pr-2 pt-5' >
<img src="{% static 'images/calog1.png' %}" height='150px' width='200px'>
    </div>
    </div>
    <div class='col-md-4 '>
<div class='pl-2 pr-2' >
        <p  class='pt-4' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Contact Us</p>
        <hr>
        <p><span><i class="fa fa-phone" style="color:#5caf01;font-size:18px" ></i></span>
            <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> +91-23814327862,+91-3214695862</span> </p> 
        <p><span><i class="fa fa-envelope" style="color:#5caf01;font-size:18px" ></i></span>
              <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px">sachtech14@gmail.com</span> </p>     
                                <p><span><i class="fa fa-map-marker" style="color:#5caf01;font-size:18px" ></i></span>
               <span  class='pl-2' style="color:grey;font-family: 'poppins','sans-serif';font-weight:500;font-size:15px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
               </span> </p>   
               <div class='row'>
                    <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
                            <i class='fa fa-facebook pt-2' style="color:#888;font-size:19px"></i>
                    </div>
                    <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
                     
                     <i class='fa fa-twitter pt-2' style="color:#888;font-size:19px"></i>
                     </div>
                     
                     <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
                     <i class='fa fa-instagram pt-2' style="color:#888;font-size:19px"></i>
                     </div>
                     <div class='demo m-2' style='background:#e5e5e5;border-radius: 50% '>
                     <i class='fa fa-google pt-2' style="color:#888;font-size:19px"></i>
                     </div>
            </div>  
    </div>
    </div>
    <div class='col-md-4'>
<div class='pl-2 pr-2' >
        <p  class='pt-4' style="font-size:17px; font-family: 'poppins',sans-serif;font-weight: 600;color:#222a35 ">Newsletter</p>
        <hr>
        <p class='pt-3' style='color:grey;font-size:16px'>Enter your email address to get the latest University news, special events and student activities delivered right to your inbox</p>
         
        <input type='text' class='form-control' placeholder="Your Email">
    <button class='btn btn-control text-light mt-2' style='background: #5caf01;font-weight:400;font-size: 17px;'>Subscribe</button>
   
</div>
    </div>
  </div> 
   </div>
  <section style='background: #222a35'>
            <h6 class='text-center pt-2' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019  All Rights Reserved Terms of Use and Privacy Policy</h6>
      </section>          
    {% endblock %}
