{%extends "dashcomp.html"%}
{% load staticfiles %}
{% block mybl %}
<div class='row pt-4' >
        <div class='col-md-12' style='height:330px;'>
            <div class='row'>
                <div class='col-md-8' >
                  {% for i in all %}
            <h4 style="font-family: 'poppins', serif;color:#222a35">Basic Information</h4>
           
            <span>
            <i class='fa fa-user  pt-3 ' style='font-size:25px;color:#5caf01;'></i>
        <span class='pl-2' style="font-family: 'ZCOOL XiaoWei', serif;color:#222a35;font-size: 18px">Name</span>
    <span class='float-right pt-3' style="color:grey;font-size: 15px">{{i.user.username}}</span>    
    </span>
        <hr >
        <span>
                <i class='fa fa-home  pt-3' style='font-size:25px;color:#5caf01;'></i>
                   
                <span  class='pl-2' style="font-family: 'ZCOOL XiaoWei', serif;color:#222a35;font-size: 18px">Address</span>
                <span class='float-right pt-3' style="color:grey;font-size: 15px">{{i.Address}}</span>   
        </span>
         <hr>
        <span>
                <i class='fa fa-map-marker  pt-3' style='font-size:25px;color:#5caf01;'></i>
                <span class='float-right pt-3' style="color:grey;font-size: 15px">{{i.city}}</span>   
                <span  class='pl-2' style="font-family: 'ZCOOL XiaoWei', serif;color:#222a35;font-size: 18px">City</span>
               
        </span>
       <hr>
        <span><i class='fa fa-phone  pt-3' style='font-size:25px;color:#5caf01;'></i>
            <span class='float-right pt-3' style="color:grey;font-size: 15px">{{i.Contact_No}}</span>   
            <span  class='pl-2' style="font-family: 'ZCOOL XiaoWei', serif;color:#222a35;font-size: 18px">Contact</span>
            </span>
            {% endfor %}
                </div>
            <div class='col-md-4'>
                  
                    <img src="/media/{{profile.profile_pic}}" height='328px' width='100%'>
                </div>
               
         </div>
         </div>
        
    </div>
   
    <div class='row pt-4' >
           
        <div class='col-md-12'  >
              
            <div class='pl-2 pr-2' style='border:1px solid grey;height:500px;background: #F5F5F5'>
            <h5 style="font-family: 'Spectral', serif;color:#222a35;">Latest Applicants</h5>
<hr>
{% for j in cp %}
<div class='row'>
     
<div class='col-md-4 '>
<img  class='mb-2' src="/media/{{j.profile_pic}}"   height='80px' width='100px' style="border-radius:50%">
</div>
<div class='col-md-8'>
<p  style='font-size:16px;color:#222a35;;font-weight: 500;line-height: 1px'>{{j.user.first_name}}{{j.user.last_name}}</p>
        <p   style='font-size:16px;color:#222a35;font-weight: 500;line-height: 1px'>  
  {{j.City}}</p>
  <p style='font-size:16px;color:#222a35;font-weight: 500;line-height: 1px'>  
        {{j.Contact_No}}</p>



</div>

</div>
{% endfor %}
<!-- <div class='row pt-3'>
<div class='col-md-4 '>
<img src="/media/{{j.profile_pic}}" height='90px' width='100px'>
</div>
<div class='col-md-8'>
    <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{j.user.username}}</p>
    <p style='font-size:14px;color:grey;line-height: 4px'>{{j.services}}</p>
</div>

</div>
<div class='row pt-3'>
<div class='col-md-4 '>
<img src="/media/{{profile.profile_pic}}" height='90px' width='100px'>
</div>
<div class='col-md-8'>
    <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{j.user.username}}</p>
    <p style='font-size:14px;color:grey;line-height: 4px'>{{j.services}}</p>
</div>

</div>

<div class='row pt-3'>
<div class='col-md-4 '>
    <img src="/media/{{profile.profile_pic}}" height='90px' width='100px'>
    </div>
<div class='col-md-8'>
        <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{j.user.username}}</p>
        <p style='font-size:14px;color:grey;line-height: 4px'>{{j.services}}</p>
    </div>
    
</div> -->

            </div>
           
        </div>
     
        <!-- <div class='col-md-6' >
           
            <div class='pl-2 pr-2' style='border:1px solid grey;height:500px;background: #F5F5F5'>
                <h5 style="font-family: 'Spectral', serif;color:#222a35;">Latest Vacancies</h5>
                <hr>
                {% for k in pj %}
<div class='row'>
<div class='col-md-4 '>
<img src="/media/{{k.profile_pic}}" height='70px' width='100px'>
</div>
<div class='col-md-8'>
<p style='font-size:16px;color:#222a35;;font-weight: 500'>{{k.position}}</p>
<p style='font-size:14px;color:grey;'>{{k.requirements}}</p>
</div>

</div>
{% endfor %} -->
<!-- <div class='row pt-3'>
<div class='col-md-4 '>
<img src="/media/{{profile.profile_pic}}" height='70px' width='70px'>
</div>
<div class='col-md-8'>
    <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{k.position}}</p>
    <p style='font-size:14px;color:grey;line-height: 4px'>{{k.requirements}}</p>
</div>

</div>
<div class='row pt-4'>
<div class='col-md-4 '>
<img src="/media/{{profile.profile_pic}}" height='70px' width='100px'>
</div>
<div class='col-md-8'>
    <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{k.position}}</p>
    <p style='font-size:14px;color:grey;line-height: 4px'>{{k.requirements}}</p>
</div>

</div>

<div class='row pt-5'>
<div class='col-md-4 '>
    <img src="/media/{{profile.profile_pic}}" height='70px' width='100px'>
    </div>
<div class='col-md-8'>
        <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{k.position}}</p>
        <p style='font-size:14px;color:grey;line-height: 4px'>{{k.requirements}}</p>
    </div>
    
</div>
</div> -->

</div>

</div>
{% endblock %}