<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  
</head>
<body style='background: url("{% static 'images/lapi.jpg' %}");background-size:cover;''>
   {% if status %}
   <p class='alert alert-success'>
        {{status}}
   </p>
  
   {% endif %}
    <p class='' id='msz'></p> 
    <div class='container' >
    <div class='row'>
        <div class='col-md-6 mx-auto  mt-5' style="background:rgba(0,0,0,0.6)">
            <form action="" method="POST">
                {% csrf_token %}
                <div class='form-group' style='color:#5caf01;font-size:16px'>
                    <label for="">Enter Your Registered Username</label>
                    <input type="text" class='form-control' placeholder="Username" name='usname' id='username' onkeyup="find_user()">
                </div>
                <div style='display:none;' id='x'>
                    <div class='form-group' style='color:#5caf01;font-size:16px'>
                        <label for="">Your Registered Email is Given Below... An email with OTP is sent to you</label>
                        <input type="email" class='form-control' id="email" placeholder="Email" name='email'>
                    </div>
                    <div class='form-group' style='color:#5caf01;font-size:16px' >
                        <label for="">Enter Your 6-digit OTP</label>
                        <input type="number" class='form-control' id='otp' placeholder="OTP" onkeyup='match_otp()'>
                    </div>
                </div>
                <div style='display:none;' id='y'>
                    <div class='form-group'>
                            <input type="password" class='form-control' id='p' placeholder="Password" name='password' onkeyup='check()'>
                        </div>
                        <div class='form-group'>
                            <input type="password" class='form-control' id='cp' placeholder="Confirm Password" onkeyup='check()'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <input type="submit" class='btn btn-block' id='change' style='background:#5caf01;color:#fff' value='Submit' disabled>
                    </div>
                    <div class='row'>
                        <input type="hidden" id="matchotp">
                      
                    </div>
                </form>
        </div>
    </div>
     </div>  
   

<script>
    function find_user(){
        let un=$('#username').val();
        $.ajax({
            url:'{% url "finduser" %}',
            type:'get',
            data:{usern:un},
            success:function(data){

                if(data=="not"){
                    $('#msz').html('User with this name not found!!').removeClass('alert alert-info').addClass('alert alert-danger');           
                }else{
                    let d=data.split(',')
                    $('#email').val(d[0])
                    $('#matchotp').val(d[1])
                    $('#x').css('display','block');
                    $('#msz').html('Fill up the details below').removeClass('alert alert-danger').addClass('alert alert-info');
                }
            }
        })
    }
    function match_otp(){
        let a=$('#otp').val();
        let b=$('#matchotp').val();
        if(a==b){
            $('#y').css('display','block');
        }
        else{
            $('#msz').html('Access Denied!!').removeClass('alert alert-info').addClass('alert alert-danger');           
        }
    }
    function check(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $("#p").css('border','1px solid green')
            $("#cp").css('border','1px solid green')
            $('#change').removeAttr('disabled');
        }
        else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');       
        }
    }
</script>
    <!-- {% if status %}
    <script>
    alert('{{status}}');
    </script>
   
        {% endif %}
    <div class='container-fluid'>
        <div class='row'>
                <div class='col-md-6 mx-auto mt-4' style="background:rgba(0,0,0,0.5);height:420px">
                <h2 class='text-center' style="color:white">Forgot Password?</h2>
             
                <div class="card">
                    <div class="card-header" style='background: #5caf01;color: #fff'>
                        <h5 class='card-title' >Find Your Account <span class='float-right text-light'><i class='fas fa-user' style="color:#fff"></i>  {{un}}</span> </h5>
                    </div>

                    <div class="card-body">
                        <span class='card-text text-bold my-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01">Please tell us your username to find you</span>
                        <form method="post">
                            {% csrf_token %}
                            <div class='form-group'>
                                <input class='form-control' type="text" name="cuser" id='un' placeholder='Enter Username and Press Enter' required/>
                            </div>
                            
                            <div class="form-group">
                                <input type="password" id='pass' placeholder='New Password' class='my-2 form-control sm' name="passw" required>
                            </div>
                            <div class="form-group">
                                <input id='cpass' type="password" placeholder='Confirm New Password' class='my-2 form-control sm' name="cpass"required>
                            </div>
                            <script>
            
                                    $('#cpass').keyup(function(){
                                    var p = $('#pass').val();
                                    var cp = $('#cpass').val();
                                    if(p!=cp){
                                        $('#pass').css({'border':'1px solid red'});
                                        $('#cpass').css({'border':'1px solid red'});
                                        $('#change').attr('disabled','disabled');
                                    }
                                    else{
                                    $('#pass').css({'border':'1px solid green'});
                                    $('#cpass').css({'border':'1px solid green'});
                                    $('#change').removeAttr('disabled');
                                    }
                                });
                            </script>          
                            <input type="submit" name="forg" value="Submit"  id='change' class='my-2 btn' style='background:#5caf01;color:#fff' disabled>
                        </form>
                    </div>           
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>    