{% extends "dashcomp.html" %}
{% block mybl %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{ % static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style='background: url("{% static 'images/lapi.jpg' %}");background-size:cover;''>
    {% if status %}
  <script> 
  alert('{{status}}') 
  </script>  
    {% endif %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 mx-auto mt-5' style="background:rgba(0,0,0,0.3)">
                <form class='form-group' method="POST">
                    {% csrf_token %}
                    <h3 class='pt-4 pb-3' style="color:#fff;border-bottom:1px solid #ccc;font-size: 45px;font-weight: 600;font-family: 'Poppins',sans-serif;">
                        <span style='color:#5caf01'>P</span><span style="color:#fff">ost</span> &nbsp;a &nbsp;<span style="color:#5caf01">J</span>ob
                    </h3>
                    <hr>
                    <p style='color:#5caf01;font-size:16px'>Position:</p>
    <input type='text' class='form-control' placeholder="Select Position" name='pos'>

    <p class='pt-3' style='color:#5caf01;font-size:16px'>Description:</p>
    <textarea class='form-control' rows='4' name='des'></textarea>
    <p class='pt-2' style='color:#5caf01;font-size:16px'>H.R. Name:</p>
    <input type='text' class='form-control'  style="height:45px" name='hr'>
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>Requirements:</p>
    <input type='text' class='form-control'  style="height:50px" name='req'>
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>Salary:</p>
    <select class='form-control' name='sal'>
        <option>Salary</option>
        <option>10,000-15000</option>
        <option>15,000-20,000</option>
        <option>20,000-25,000</option>
        <option>25,000-30,000</option>
        <option>30,000-35,000</option>
        <option>35,000-40,000</option>
        <option>40,000-50,000</option>
    </select>
   
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>City:</p>
   <input type='text' class='form-control' style="height:45px" name='cit'>
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>Contact:</p>
    <input type='text' class='form-control'  style="height:45px" name="con">
    <p  class='pt-2' style='color:#5caf01;font-size:16px'>Experience:</p>
    <select class='form-control' name='exp'>
        <option>Experience</option>
        <option>0-2 Years</option>
        <option>2-4 Years</option>
       <option>4-6 Years</option>
    </select>
    <input type='file' name='im' class='pt-3 '>
    <button class='btn btn-success btn-control btn-block mt-3 text-center' name='post' style='font-size:16px;color:white;background: #5caf01'>Post Job</button>
        
                 </form>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}