<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
   <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 400">Python Developer
                        <span class='float-right pt-2' style="font-family:'Noto Serif',serif;color:grey;font-size: 15px">Company Name</span>
                        </h4>
                        <p style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Date Posted:2019-07-11 12:04:23
                        <span  class='float-right' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px;font-weight: 600">Intelligroup</span>
                    </p> <hr>
               <div class='row' style='height:35px'>
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2 '>
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Number of Vacancies: <span  style='color:black'>0</span></p>
                        <hr>
                    </div>
                   </div>
                   
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2' >
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Salary Range: <span  style='color:black'>18,000-55,000</span></p>
                       <hr>
                    </div>
                   </div>
               </div>
               <div class='row pt-2' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Category: <span  style='color:black'>IT & Telecommunication</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Job Location: <span  style='color:black'>Delhi</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-3' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Working Hours<span  style='color:black'>0</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Years of Experience: <span  style='color:black'>0-5</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-4' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Preferred Age: <span  style='color:black'>21(years)</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Vacancy Nature: <span  style='color:black'>Full Time</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <h5 class='pt-5' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:16px;">Description</h5>
            <p style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. 
            </p>
        <h5 style="color:#5caf01;font-family:'Noto Serif',serif;font-size:17px">Skills Required:</h5>   
        <p><ol>
            <li><span style="color:#5caf01;font-weight: 500">Frameworks</span> 
                 <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    Python Developer must have a knowledge of Python's frameworks like Django,Flask and CherryPy.
                </span></li>
                
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">ORM Libraries</span> 
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    Using and connecting application through an ORM (Object Relational Mapper) like SQLAlchemy, Django ORM and so on is easier, faster and more efficient than writing SQL     
                </span>
                    </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Front-End Technologies</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    Python developer has to cooperate with frontend team to make match the server-side with the client-side. Thus, it is important that you understand how the frontend works.Like HTML,CSS,Javascript.
                </span> </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">AI and Machine Learning</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    AI and Machine Learning (as well as deep learning) are constantly growing as a field - Python is a perfect programming language for that.
                </span>  </li>
            
        </ol>
            <hr>
            <p class='pl-4 pt-3' style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Job deadline: 2019-07-28</p>
            
           </div>
                  <div class='col-md-4 mt-5'>
                      <img src="{% static 'images/pyth1.jpeg' %}" width='400px' height='250px'>
                  </div>
                  
              </div>
             
          </div>
      </div>
     
  </div>  
</body>
</html>