<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Students|Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script  src="{% static 'jquery/jquery.js'%}"></script>
    <script  src="{% static 'js/bootstrap.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <body style='background: url("{% static 'images/lapi.jpg' %}");background-size:cover;''></body>
            {% if status %}
            <script> 
            alert('{{status}}') 
            </script>  
              {% endif %}
<div class='container'>
    <div class='row'>
        <div class='col-md-6 mx-auto mt-4' style="background:rgba(0,0,0,0.5)">

            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class='pt-4 pb-3' style="color:#fff;border-bottom:1px solid #ccc;font-size: 45px;font-weight: 600;font-family: 'Poppins',sans-serif;">
                        <span style='color:#5caf01'>A</span><span style="color:#fff">pply</span> &nbsp;a &nbsp;<span style="color:#5caf01">F</span>orm
                    </h3>
                    <hr>
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Qualifications</p>
                <input type='text' placeholder="Qualifications" class='form-control' name='qua'>
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Graduation Percentage</p>
                <input type='number' placeholder="Graduation Percentage" class='form-control' name='per'>
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Passing Out Year</p>
                <input type='number' placeholder="Passing Out Year" class='form-control' name='poy'>
                
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Resume</p>
                <input type='file' name='re'  style='color:#fff'>
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Experience</p>
                <select class='form-control' name='exp'>
                    <option>Fresher</option>
                    <option>0-2 years</option>
                    <option>2-4 years</option>
                    <option>4-6 years</option>
                    <option>6-8 years</option>
                    <option>8-10 years</option>
                 
                </select>
                <div class='col-md-3 mt-3 mb-3'>
                <input type='submit' class='btn btn-control btn-block'  name='ap' style='color:white;background: #5caf01' value='Apply'>
                </div>            
            </form>
        </div>
    </div>
</div>
</body>
</html>
